spring:
  application:
    name: store
  datasource:
    url: jdbc:mysql://172.32.0.3:3306/store_api?createDatabaseIfNotExist=true
    username: root
    password: pepere
  jpa:
    show-sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    validate-on-migrate: false
    locations: classpath:db/migration

  thymeleaf:
    cache: false
  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true
  jwt:
    secret: ${JWT_SECRET}
    accessTokenExpirationMs: 300 # 5 minutes
    refreshTokenExpirationMs: 86400 # 24 hours